ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 16px;
}

.list_style {
  color: black;
  transition: color 0.3s ease;
}

.list_style.active {
  border-bottom: 2px solid orangered;
}

.list_style:hover {
  color: orange;
}
